<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Login page</title>
    <link rel="stylesheet" type="text/css" href="/css/login.css" />
    <script src="/js/login.js"></script>
</head>
<body>
    <div class="login-page">
        <h2 class="text-success" style="text-align: center;color: green;"><b>Выполните авторизацию</b></h2>
        <div class="form">
            <form id="login-form" name="f" method="post" action="/process_login" class="login-form">
                <input type="hidden" th:name="${_csrf.parameterName}" th:value="${_csrf.token}">

                <label for="username">Введите имя пользователя: </label>
                <input type="text" name="username" id="username">
                </br>
                <label for="password">Введите пароль: </label>

                <div class="password-wrapper">
                    <input type="password" name="password" id="password" class="password-input">
                    <button type="button" id="password-toggle" class="password-toggle" onclick="togglePasswordVisibility()"></button>
                </div>

                </br>

                <button class="login-button">Войти</button>

                <div th:if="${param.error}"  class="error-message">
                    Неправильные имя или пароль
                </div>
            </form>
        </div>
    </div>
</body>
</html>