<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Личный кабинет студента</title>
    <link rel="stylesheet" type="text/css" href="/css/modalChangePassword.css" />
</head>
<body>
    <h2>Смена пароля</h2>
    <form id="passwordForm" th:method="POST" th:action="@{/auth/change-password}" th:object="${passwordDTO}">
        <label for="current-password">Текущий пароль:</label>
        <input type="password" id="current-password" name="current-password" th:field="*{password}">
        <div class="error" th:if="${#fields.hasErrors('password')}" th:errors="*{password}">Password Error</div>

        <label for="new-password">Новый пароль:</label>
        <input type="password" id="new-password" name="new-password" th:field="*{newPassword}">
        <div class="error" th:if="${#fields.hasErrors('newPassword')}" th:errors="*{newPassword}">NewPassword Error</div>

        <label for="confirm-password">Повторите новый пароль:</label>
        <input type="password" id="confirm-password" name="confirm-password" th:field="*{newPasswordConfirmation}">
        <div class="error" th:if="${#fields.hasErrors('newPasswordConfirmation')}" th:errors="*{newPasswordConfirmation}">passwordConfirmation Error</div>
        <button type="submit" class="btn-change-password">Сменить пароль</button>
        <button type="button" class="back-button" onclick="window.history.back();">Отмена</button>
    </form>

</body>

</html>