<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Личный кабинет студента</title>
    <link rel="stylesheet" type="text/css" href="/css/modalChangePassword.css" />
    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css">
    <!-- Bootstrap Font Icon CSS -->
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.5.0/font/bootstrap-icons.css">
</head>
<body>
    <h2>Смена пароля</h2>
    <form id="passwordForm" th:action="@{/auth/change-password}" th:method="POST" th:object="${passwordDTO}"
          class="needs-validation" novalidate>
        <label for="current-password">Текущий пароль:</label>
        <input type="password" id="current-password" class="form-control" name="current-password" th:field="*{password}" required>
        <div class="invalid-feedback">Пожалуйста, введите текущий пароль, чтобы продолжить.</div>
        <div class="error" th:if="${#fields.hasErrors('password')}" th:errors="*{password}">Password Error</div>

        <label for="new-password">Новый пароль:</label>
        <input type="password" id="new-password" class="form-control" name="new-password" th:field="*{newPassword}" required>
        <div class="col-auto">
            <span class="form-text">Должен содержать минимум 6 символов</span>
        </div>
        <div class="invalid-feedback">Пожалуйста, введите новый пароль, чтобы продолжить.</div>
        <div class="error" th:if="${#fields.hasErrors('newPassword')}" th:errors="*{newPassword}">NewPassword Error</div>

        <label for="confirm-password">Повторите новый пароль:</label>
        <input type="password" id="confirm-password" class="form-control" name="confirm-password" th:field="*{newPasswordConfirmation}" required>
        <div class="col-auto">
            <span class="form-text">Должен содержать минимум 6 символов</span>
        </div>
        <div class="invalid-feedback">Пожалуйста, повторите текущий пароль, чтобы продолжить.</div>
        <div class="error" th:if="${#fields.hasErrors('newPasswordConfirmation')}" th:errors="*{newPasswordConfirmation}">passwordConfirmation Error</div>

        <button type="submit" class="btn-change-password">Сменить пароль</button>
        <button type="button" class="back-button" onclick="window.history.back();">Отмена</button>
    </form>

    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js"></script>
    <script src="/js/password.js"></script>
</body>

</html>