<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Registration</title>
</head>
<body>

<form th:method="POST" th:action="@{/auth/registration}" th:object="${user}">
    <label for="username">Введите имя пользователя: </label>
    <input type="text" th:field="*{username}" id="username"/>
    <div style="color:red" th:if="${#fields.hasErrors('username')}" th:errors="*{username}">Username errors</div>
    </br>
    <label for="email">Введите email: </label>
    <input type="text" th:field="*{email}" id="email"/>
    <div style="color:red" th:if="${#fields.hasErrors('email')}" th:errors="*{email}">Email errors</div>
    </br>
    <label for="firstName">Введите Имя: </label>
    <input type="text" th:field="*{firstName}" id="firstName"/>
    <div style="color:red" th:if="${#fields.hasErrors('firstName')}" th:errors="*{firstName}">First_name errors</div>
    </br>
    <label for="secondName">Введите Фамилию: </label>
    <input type="text" th:field="*{secondName}" id="secondName"/>
    <div style="color:red" th:if="${#fields.hasErrors('secondName')}" th:errors="*{secondName}">Second_name errors</div>
    </br>
    <label for="patronymic">Введите Отчество: </label>
    <input type="text" th:field="*{patronymic}" id="patronymic"/>
    <div style="color:red" th:if="${#fields.hasErrors('patronymic')}" th:errors="*{patronymic}">Patronymic errors</div>
    </br>
    <label for="password">Введите пароль: </label>
    <input type="password" th:field="*{password}" id="password"/>
    <div style="color:red" th:if="${#fields.hasErrors('password')}" th:errors="*{password}">Password errors</div>
    </br>
    <label for="role">Введите роль: </label>
    <input type="text" th:field="*{role}" id="role"/>
    <div style="color:red" th:if="${#fields.hasErrors('role')}" th:errors="*{role}">Role errors</div>
    </br>
    <input type="submit" value="Sign up!">
</form>

</body>
</html>