<h2>Уведомления</h2>
<div id="notification-list">
    <div class="new-notifications" th:if="${notificationListNew.size() != 0}">
        <h3>Новые:</h3>
        <p class="text-primary" th:each="notificationNew : ${notificationListNew}" th:text="${notificationNew.getMessage()}"><em></em></p>
    </div>

    <div class="old-notifications" th:if="${notificationListOld.size() != 0}">
        <h3>Просмотренные:</h3>
        <p class="text-muted" th:each="notificationOld : ${notificationListOld}" th:text="${notificationOld.getMessage()}"><em></em></p>
    </div>

    <div class="no-notifications" th:if="${notificationListOld.size() == 0 && notificationListNew.size() == 0}">
        <h3>Нет уведомлений</h3>
    </div>
</div>

<div class="notification-button">
    <button id="delete-all-notifications" class="btn btn-primary">Очистить все</button>
</div>