<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Администратор</title>
    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css">
    <!-- Bootstrap Font Icon CSS -->
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.5.0/font/bootstrap-icons.css">

    <link rel="stylesheet" type="text/css" href="/css/admin.css" />
    <link rel="stylesheet" type="text/css" href="/css/modal.css" />
</head>
<body>
<input type="hidden" id="csrfToken" th:value="${_csrf}" />
<input type="hidden" id="admin-id" th:value="${user.getUserId()}" />
<div id="modal-div"></div>
    <div class="sidebar">
        <div class="sidebar-header">
            <h3>Админ-панель</h3>
            <hr class="divider">
        </div>
        <ul>
            <li id="personal"><i class="bi bi-person-circle icon"></i> Личный кабинет</li>
            <li id="students"><i class="bi bi-people-fill icon"></i> Студенты</li>
            <li id="teachers"><i class="bi bi-person-square icon"></i> Преподаватели</li>
            <li id="groups"><i class="bi bi-list-ol icon"></i> Группы</li>
            <li id="specialties"><i class="bi bi-stack icon"></i> Специальности</li>
            <li id="subject"><i class="bi bi-calendar-check icon"></i> Дисциплины</li>
            <li id="workload"><i class="bi bi-card-checklist icon"></i> Нагрузка</li>
            <li id="schedule"><i class="bi bi-calendar-date icon"></i> Расписание</li>
        </ul>
    </div>
    <div class="content" id="mainContent">
        <h2>Личный кабинет</h2>
        <p>Содержимое личного кабинета</p>
        <div class="container">

        </div>
    </div>

    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js"></script>
<script src="/js/secondary.js"></script>
<script src="/js/admin/personal.js"></script>
<script src="/js/admin/group.js"></script>
<script src="/js/admin/subject.js"></script>
<script src="/js/admin/speciality.js"></script>
<script src="/js/admin/admin.js"></script>
</body>
</html>
