<!-- HTML код для модальной страницы -->
<div id="myModal" class="modall">
    <div class="modall-content">
        <span class="close">&times;</span>
        <h2>Смена пароля</h2>
        <form id="passwordForm" method="POST"
              class="needs-validation" novalidate>
            <label for="new-password">Новый пароль:</label>
            <input type="password" id="new-password" class="form-control" name="new-password"
                   minlength="6" required>
            <div class="col-auto">
                <span class="form-text">Должен содержать минимум 6 символов</span>
            </div>
            <div class="invalid-feedback">Пожалуйста, введите новый пароль длиной не менее 6 символов, чтобы продолжить.</div>

            <label for="confirm-password">Повторите новый пароль:</label>
            <input type="password" id="confirm-password" class="form-control" name="confirm-password"
                   minlength="6" required>
            <div class="col-auto">
                <span class="form-text">Должен содержать минимум 6 символов</span>
            </div>
            <div class="invalid-feedback">Пожалуйста, повторите новый пароль, чтобы продолжить.</div>

            <button type="submit" id="submit-change" class="btn-change-password btn btn-primary">Сменить пароль</button>
            <button type="button" class="back-button btn btn-primary"
                    onclick="document.getElementById('modal-div').innerHTML = '';">Отмена</button>
        </form>
    </div>
</div>