<!-- HTML код для модальной страницы -->
<div id="myModal" class="modal">
    <div class="modal-content">
        <span class="close">&times;</span>
        <h2>Создание новой работы</h2>
        <form id="scheduleForm">
            <div>
                <label for="type">Название работы:</label>
                <input type="text" id="type" name="type" required>
            </div>
            <div>
                <label for="description">Описание работы:</label>
                <input type="text" id="description" name="description">
            </div>
            <div>
                <label for="max-points">Количество баллов:</label>
                <input type="number" id="max-points" name="max-points" value="1" required>
            </div>
            <div>
                <label for="date">Дата:</label>
                <input type="date" id="date" name="date" required>
            </div>
            <div>
                <input type="submit" id="submit" value="Сохранить">
            </div>
        </form>
    </div>
</div>
