<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Личный кабинет преподавателя</title>
    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css">
    <!-- Bootstrap Font Icon CSS -->
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.5.0/font/bootstrap-icons.css">

    <link rel="stylesheet" type="text/css" href="/css/teacher.css" />
    <link rel="stylesheet" type="text/css" href="/css/modal.css" />
    <!-- Подключение библиотеки flatpickr -->
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/flatpickr/dist/flatpickr.min.css">
</head>
<body>
    <div class="container">
        <h1>Личный кабинет преподавателя</h1>
        <div class="teacher-info" id="teacher-id" th:value="${user.getTeacher().getTeacherId()}">
            <h2 th:text="${user.getSecondName() + ' ' + user.getFirstName() + ' ' + user.getPatronymic()}"></h2>
            <p th:text="${user.getEmail()}"></p>
            <input type="hidden" id="csrfToken" th:value="${_csrf}" />
            <form th:method="GET" th:action="@{/auth/change-password}" id="change-password-btn">
                <button type="submit" >Сменить пароль</button>
            </form>

            <form th:action="@{/logout}" th:method="POST" class="bth-logout">
                <input type="submit" value="Выйти">
            </form>
        </div>

        <div id="modal-div"></div>

        <div class="tabs">
            <ul>
                <li><button class="tab-button active" data-tab="schedule">Расписание</button></li>
                <li><button  class="tab-button" data-tab="journal">Журнал</button></li>
                <!--<li><button  class="tab-button" data-tab="news">Новости</button></li>-->
            </ul>
            <div class="tab-content">
                <div class="tab-pane active" id="schedule">
                    <div id="info-schedule">
                    </div>

                    <div class="button-wrapper">
                        <button id="prev-week-btn" class="btn"> &lt; </button>
                        <button id="next-week-btn" class="btn"> &gt; </button>
                    </div>

                    <button id="addScheduleButton" class="btn btn-primary">Добавить занятие</button>
                    <table id="scheduleTable">
                        <thead>
                        <tr>
                            <th>День недели</th>
                            <th>Время начала</th>
                            <th>Время окончания</th>
                            <th>Дисциплина</th>
                            <th>Вид занятия</th>
                            <th>Аудитория</th>
                            <th>Группа</th>
                            <th>Курс</th>
                        </tr>
                        </thead>
                        <tbody>
                        <tr th:each="schedule : ${scheduleDataList}" th:class="${schedule.getClassName()}">
                            <td>
                                    <span th:text="${schedule.getDayOfWeek()}">
                                        schedule
                                    </span>
                            </td>
                            <td>
                                    <span th:text="${schedule.getStartTimeFormat()}">
                                        schedule
                                    </span>
                            </td>
                            <td>
                                    <span th:text="${schedule.getEndTimeFormat()}">
                                        schedule
                                    </span>
                            </td>
                            <td>
                                    <span th:text="${schedule.getName()}">
                                        schedule
                                    </span>
                            </td>
                            <td>
                                    <span th:text="${schedule.getType()}">
                                        schedule
                                    </span>
                            </td>
                            <td>
                                    <span th:text="${schedule.getAudience()}">
                                        schedule
                                    </span>
                            </td>
                            <td>
                                    <span th:text="${schedule.getGroupName()}">
                                        schedule
                                    </span>
                            </td>
                            <td>
                                    <span th:text="${schedule.getCourseNumber()}">
                                        schedule
                                    </span>
                            </td>
                        </tr>

                    </table>
                </div>
                <!-- end of schedule tab -->
                <!-- journal tab -->
                <div id="journal" class="tab-pane" style="display: none;">
                    <h2>Журнал</h2>
                    <p>Выберите дисциплину:</p>
                    <div class="disciplines-list">
                        <form th:each="subject : ${subjectList}">
                            <button id="choose-discipline-btn" type="button" name="discipline" th:text="${subject.getName()}"
                                    th:value="${subject.getSubjectId()}">Название</button>
                        </form>
                    </div>

                    <div class="type-list select-wrapper">

                    </div>

                    <div class="groups-list select-wrapper">

                    </div>

                    <div class="journal-table">
                        <!-- журнал для выбранной дисциплины будет здесь -->
                    </div>

                    <div class="journal-save">
                        <!-- кнопка сохранения данных о посещениях будет здесь -->
                    </div>

                    <div class="grades-table">
                        <!-- оценки для выбранной дисциплины будет здесь -->
                    </div>

                    <div class="grades-save">
                        <!-- кнопка сохранения данных об оценках будет здесь -->
                    </div>

                    <div class="assignment-table">
                        <!-- назначения для выбранной дисциплины будет здесь -->
                    </div>

                    <div class="assignment-save">
                        <!-- кнопка сохранения данных о назначениях будет здесь -->
                    </div>
                </div>
                <!-- end of journal tab -->

                <!-- news tab -->
                <div id="news" class="tab-pane" style="display: none;">
                    <h2>Новости</h2>
                    <p>Здесь будут новости</p>
                </div>
                <!-- end of news tab -->


            </div>
        </div>
    </div>
</body>

<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/flatpickr"></script>
<script src="/js/secondary.js"></script>
<script src="/js/validateBootstrapForms.js"></script>
<script src="/js/attendance.js"></script>
<script src="/js/grade.js"></script>
<script src="/js/assignment.js"></script>
<script src="/js/teacher.js"></script>
<script src="/js/tabsAndScheduleData.js"></script>
</html>