/* Стили для формы */
form {
    max-width: 400px;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

/* Стили для заголовка */
h2 {
    text-align: center;
    margin-top: 50px;
}

/* Стили для полей ввода */
form label,
form input {
    margin-bottom: 5px;
    width: 100%;
    display: block;
    font-size: 16px;
    font-family: 'Roboto', sans-serif;
}

form label {
    margin-top: 5px;
}

form input {
    padding: 8px;
    border-radius: 3px;
    border: 1px solid #ccc;
    font-size: 16px;
}

/* Стили для отображения ошибок */
.error {
    color: red;
    margin-top: -8px;
    font-size: 16px;
    margin-bottom: 2%;
}

/* Стили для кнопки */
button[type="submit"] {
    padding: 12px;
    background-color: #4CAF50;
    color: white;
    border: none;
    border-radius: 5px;
    font-size: 18px;
    cursor: pointer;
    transition: all 0.3s ease-in-out;
}

button[type="submit"]:hover {
    background-color: #3e8e41;
}

.back-button {
    padding: 10px;
    border: 1px solid #ccc;
    background-color: #fff;
    color: #333;
    cursor: pointer;
    font-size: 16px;
    margin-top: 10px;
}

.btn-change-password {
    margin-top: 10px;
}