/* Стили для модального окна */
.modall {
    display: block;
    position: fixed;
    z-index: 10;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color: rgba(0, 0, 0, 0.4);
}

.modall-content {
    background-color: #fefefe;
    margin: 10% auto;
    padding: 20px;
    border: 1px solid #888;
    width: 60%;
    max-width: 500px;
}

.modall-content p {
    text-align: center;
}

.close {
    float: right;
    font-size: 28px;
    font-weight: bold;
    cursor: pointer;
}

/* Стили для формы */
form {
    margin-top: 20px;
}

form label {
    display: block;
    margin-bottom: 5px;
    margin-top: 5px;
    margin-left: 5px;
    margin-right: 10px;
}

/*form select,
form input[type="text"], form input[type="number"], form input[type="date"] {
    width: 100%;
    padding: 8px;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
    margin-bottom: 10px;
}

form input[type="submit"] {
    background-color: #4CAF50;
    color: white;
    padding: 10px 20px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}

form input[type="submit"]:hover {
    background-color: #45a049;
}*/

/* Стили для flatpickr */
.flatpickr-calendar {
    z-index: 9999 !important; /* Увеличиваем z-index, чтобы календарь был видимым в модальном окне */
}

.timepicker {
    background-color: #fff;
    cursor: pointer;
}

/**/
/* Стили для кастомного окна подтверждения */
.confirmModal {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    z-index: 1;
}

.confirmModal-content {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: #fff;
    padding: 20px;
    border-radius: 5px;
    text-align: center;
}

.confirmModal-message {
    margin-bottom: 10px;
}

.confirmModal-buttons button {
    padding: 8px 16px;
    margin: 0 5px;
    border-radius: 5px;
    border: none;
    background-color: #4CAF50;
    color: #fff;
    cursor: pointer;
}

.confirmModal-buttons button:hover {
    background-color: #45a049;
}

.input-group {
    margin-top: 20px;
    margin-bottom: 20px;
}

/* Стили для отображения ошибок */
.error {
    color: red;
    font-size: 16px;
}