<div class="admin-content row d-flex justify-content-between align-items-start">
    <div class="subject-control col-md-5">
        <h2>Действия</h2>
        <div class="d-flex">
            <form method="GET" action="/admin/new-subject" id="add-subject-form">
                <button type="submit" id="submit-add-subject" class="btn btn-primary"
                        onclick="getPageNewSubject(event)">Добавить новую дисциплину
                </button>
            </form>
        </div>
    </div>

    <div class="col-lg-6">

    </div>

    <div class="subject-list col-lg-11">
        <h2>Список дисциплин</h2>
        <div class="input-group">
            <input type="text" class="form-control" id="search-input" placeholder="Поиск...">
            <button type="button" id="close-search-button" class="btn btn-secondary">
                <i class="bi bi-x-lg"></i>
            </button>
            <button type="button" id="search-button" class="btn btn-secondary">
                <i class="bi-search"></i>
            </button>
        </div>

        <div id="subject-list" class="row row-cols-2">

        </div>
    </div>
</div>