<div class="d-flex subject-li" th:each="subject : ${subjects}" >
    <div class="flex-shrink-0">
        <img src="/images/content-svgrepo-com.svg" class="rounded-circle" alt="Sample-img">
    </div>
    <div class="flex-grow-1 ms-3">
        <form th:id="${'subject-form' + subject.getSubjectId()}" class="needs-validation" novalidate
              th:action="@{/admin/{id}/edit-subject/{idEdit}(id=${user.getUserId()}, idEdit=${subject.getSubjectId()})}"
              th:method="post">
            <div class="input-group">
                <span class="input-group-text">Название</span>
                <input type="text" th:id="${'subject-name' + subject.getSubjectId()}" name="subject-name" class="form-control" readonly
                       th:value="${subject.getName()}">
                <div class="invalid-feedback">Пожалуйста, введите название дисциплины для продолжения</div>
            </div>
            <div class="input-group">
                <span class="input-group-text">Описание</span>
                <input type="text" th:id="${'subject-description' + subject.getSubjectId()}" name="subject-description"
                       class="form-control" readonly th:value="${subject.getDescription()}">
                <div class="invalid-feedback">Пожалуйста, введите описание дисциплины для продолжения</div>
            </div>
            <div class="subject-buttons">
                <a type="submit" th:id="${'submit-subject' + subject.getSubjectId()}" style="display: none;"
                   th:href="${subject.getSubjectId()}"
                   onclick="fetchEditSubject(event)"><i class="bi bi-check2-square"></i></a>
                <a th:id="${'button-edit-subject' + subject.getSubjectId()}"
                   th:href="${subject.getSubjectId()}"
                   onclick="editSubject(event)"><i class="bi bi-pencil-square"></i></a>
                <a th:id="${'button-delete-subject' + subject.getSubjectId()}"
                   th:href="@{/admin/{id}/deleteSubject(id=${subject.getSubjectId()})}"
                   onclick="confirmDeletionSubject(event)"><i class="bi bi-x-circle"></i></a>
            </div>
        </form>
    </div>
</div>